[user]
	name = Koya Masuda
	email = 71430401+koxya@users.noreply.github.com
	signingkey = 9AE2D61F2CA4996A

[alias]
	co = checkout
	br = branch
	st = status
	c = commit
[url "ssh://git@github.com"]
	insteadOf = https://github.com
[push]
	autoSetupRemote = true
[core]
	autocrlf = input
	editor = nvim

