[user]
	name = Koya Masuda
	email = 71430401+koxya@users.noreply.github.com
	signingkey = 9AE2D61F2CA4996A

[alias]
	co = checkout
	br = branch
	st = status
	c = commit
	sw = switch

[url "ssh://git@github.com"]
	insteadOf = https://github.com

[push]
	autoSetupRemote = true

[core]
	autocrlf = input
	editor = nvim
	pager = delta

[interactive]
	diffFilter = delta --show-syntax-themes --dark

[delta]
	navigate = true  # use n and N to move between diff sections
	dark = true      # or light = true, or omit for auto-detection
	side-by-side = true
	line-numbers = true

[merge]
	conflictStyle = zdiff3

[commit]
	gpgsign = true


